{% extends "base.html" %} {% block content %}
<div class="container">
    <div class="row">
        <h1>Optimization Settings</h1>
    <div>
</div>
<div class="container">
    <div class = "row">
        
        <form class="form-inline">
            <h4>Current Optimization Method: {{optimization_functions[optimization_index]}}  </h4>
            <div class="form-group">
                <label>Optimization Method:</label><br>
                <select id="optimization-method-select" class="form-select" aria-label="Default select example">
                </select>
            </div>
        </form>         
    
    
        <form class="form-inline">
            <div class="form-group">
                <label for="tolerance_p1"> Tolerance p1 (mm)</label><br>
                <input type="text" id="tolerance_p1" name="tolerance_p1" value="{{tolerance_mm[0]}}"><br>
            </div>
            <div class="form-group">
                <label for="tolerance_p2"> Tolerance p2 (mm)</label><br>
                <input type="text" id="tolerance_p2" name="tolerance_p2" value="{{tolerance_mm[1]}}"><br>
            </div>
            <div class="form-group">
                <label for="tolerance_p3"> Tolerance p3 (mm)</label><br>
                <input type="text" id="tolerance_p3" name="tolerance_p3" value="{{tolerance_mm[2]}}"><br>
            </div>
        </form>   
    
        <button id="update-optimization-settings-button" type="submit" class="btn btn-primary">
            Update Optimization Settings
        </button>
    </div>
    <div class = "row" style="margin-top:20px">
          <div class="form-group">
            <label for="optimizationTextarea">Optimization Output</label>
            <textarea class="form-control" id="optimizationOutputTextarea" rows="20"> {{optimization_output_string}}</textarea>
        </div>
    </div>
</div>


<script>
    var funcs = {{optimization_functions | tojson}};
    let optimization_index = {{optimization_index|tojson}}

    $(document).ready( function () {
        $('#optimization-method-select').empty();
        $.each(funcs, function(i, p) {
            $('#optimization-method-select').append($('<option></option>').val(i).html(p));
            if(i==optimization_index){
                console.log(i);
                
            }
        });
        $('#optimization-method-select').val(optimization_index)

        $("#update-optimization-settings-button").on("click", function() {
            let vectorsList = [];
            let optimizationIndex = parseFloat($("#optimization-method-select").val());
            let tolerance = [parseFloat($("#tolerance_p1").val()), parseFloat($("#tolerance_p2").val()), parseFloat($("#tolerance_p3").val())];
            console.log("opt index = " + optimizationIndex + " , tolerance = " + tolerance);
            $.ajax({
                type: "POST",
                url: "/update_optimization_settings",
                contentType: "application/json",
                data: JSON.stringify({
                    "optimization_index": optimizationIndex,
                    "tolerance_mm":tolerance
                })
            }).done(function(resp) {
                console.log(resp);
            });
        });
       
        
    });
</script>


{% endblock %}