{% extends "base.html" %} {% block content %}
<div class="container-fluid">
    <h1>View Data</h1>
    <table id="viewTable" border="1">

    </table>
</div>
<div class = "container-fluid">
    <form class="form-inline" id="calculate-form">
        <div class="form-group">
            <label for="index-input">Index:</label><br>
            <input type="text" id="index-input" name="index-input" value="1"><br>
        </div>
    </form>
    <button type="button" class="btn btn-primary" id="calculate-button">Calculate</button>
</div>

<div class = "container-fluid">
    <div class="form-group">
        <label for="calculateOutput">Output</label>
        <textarea class="form-control" id="calculateOutput" rows="3"></textarea>
    </div>
</div>
<script>
    var viewable_data = {{viewable_data | tojson}};
    
    // Builds the HTML Table out of myList.
    function buildHtmlTable(selector, myList) {
        viewable_data.reverse();
        console.log(myList[0])
        var columns = addAllColumnHeaders(myList, selector);

        for (var i = 0; i < myList.length; i++) {
            var row$ = $('<tr/>');
            for (var colIndex = 0; colIndex < columns.length; colIndex++) {
                var cellValue = myList[i][columns[colIndex]];
                if (cellValue == null) cellValue = "";
                row$.append($('<td/>').html(cellValue));
            }
            $(selector).append(row$);
        }
        viewable_data.reverse();

    }

    // Adds a header row to the table and returns the set of columns.
    // Need to do union of keys from all records as some records may not contain
    // all records.
    function addAllColumnHeaders(myList, selector) {
        var columnSet = [];
        
        var headerTr$ = $('<tr/>');

        for (var i = 0; i < myList.length; i++) {
            var rowHash = myList[i];
            for (var key in rowHash) {
                if ($.inArray(key, columnSet) == -1) {
                    columnSet.push(key);
                    headerTr$.append($('<th/>').html(key.substr(key.indexOf("_")+1)));
                }
            }
        }
        var headerThead$ = $('<thead/>').append(headerTr$);
        $(selector).append(headerThead$);

        return columnSet;
    }

    $(document).ready( function () {
        
        console.log(viewable_data);
        buildHtmlTable("#viewTable", viewable_data);
        $('#viewTable').DataTable( {
                aaSorting: [[0, 'desc']],
                bSortable: true,
                bRetrieve: true,
                aoColumnDefs: [
                    { "aTargets": [ 0 ], "bSortable": true },
                    { "aTargets": [ 1 ], "bSortable": true },
                    { "aTargets": [ 2 ], "bSortable": true },
                    { "aTargets": [ 3 ], "bSortable": false }
                ]
            }
        );

        function find_angle(v1, v2){
            console.log("Manual:" + v1.map((elem, i)=>{return(elem*v2[i])}).reduce((a,b)=>a+b,0));
            console.log("Library:" + math.dot(v1, v2))
            //console.log(math.dot(v1, v2)/(math.norm(v1) * math.norm(v2)));
            //console.log(v1.map(elem=>elem.toFixed(1)))
            //console.log(v1.map(elem=>Math.round(elem*100)/100))
            
            //let output =  Math.acos( math.dot(v1.map(elem=>Math.round(elem*1000)/1000), v2.map(elem=>Math.round(elem*1000)/1000))/(math.norm(v1) * math.norm(v2))) *180/math.pi;
            let output =  Math.acos( math.dot(v1, v2)/(math.norm(v1) * math.norm(v2))) *180/math.pi;
            console.log(output)
            if( isNaN(output)){
                return 0
                
            }else{
               return output; 
            }
        }

         $("#calculate-button").on("click", function() {
            let index = parseInt($("#index-input").val()) - 1;
            let normal_vectors_string = viewable_data[index]["6_Normal_Vectors"].replace(/[\]\n]/g,"").split("[");
            let normal_vectors = normal_vectors_string.filter(elem=>elem!="").map(p=>p.split(" ").filter(elem=>elem!="").map(elem=>parseFloat(elem)) );
            $("textarea#calculateOutput").val("Angle 1 to 2: " + find_angle(normal_vectors[0], normal_vectors[1]) 
                                            +" deg \n Angle 1 to 3: " + find_angle(normal_vectors[0], normal_vectors[2]) 
                                            +" deg \n Angle 2 to 3: " + find_angle(normal_vectors[1], normal_vectors[2]) +" deg");
                                            
        });
       
        
    });
</script>

{% endblock %}